body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    padding: 40px;    
}

.hidden {
  display: none;
}

#app, #login {
    max-width: 500px;
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    text-align: center;
    color: #333;
}